table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
th:first-of-type {
  width: 300px;
}

p {
  margin: 0;
}

th {
  font-weight: bold;
}

td {
  background-color: #f7f7f7;
}

td p {
  font-weight: bold;
}
tr td:first-child {
  color: #100202;
  font-weight: 700;
}

/* Additional CSS styles can be added for better presentation */
